*{
    margin: 0;
    padding: 0;
}
body{
    /*background: linear-gradient(to top, #17a68a, #82d490);*/
    background: rgba(136, 204, 233, 0.3);
    min-height: 100vh;
}
p{
    font-size: 16px;
    line-height: 28px;
}
.container{
    display: block;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    margin: 150px auto 0;
    padding: 20px 25px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 3px 10px #38abca;
    background: rgba(57, 174, 207, 0.5);
}
.col{
    width: 33.33%;
    float: left;
    overflow: hidden;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.main{
    overflow: hidden;
    margin-bottom: 30px;
}
.days{
    overflow: hidden;
    padding: 30px 0 0;
}
.day-item{
    width: 20%;
    display: inline-block;
}
#temperature{
    font-size: 60px;
    line-height: 60px;
}
.header{
    overflow: hidden;
    margin-bottom: 20px;
}
#city{
    float: left;
    font-size: 28px;
    line-height: 68px;
}
#nowDate{
    float: right;
    line-height: 68px;
}