*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    color: #495057;
}
p{
    font-size: 16px;
    line-height: 28px;
}
.container{
    max-width: 600px;
    flex-direction: column;
    margin: 100px auto 0;
    padding: 30px;
    box-sizing: border-box;
    border-radius: .25rem;
    background-color: white;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    border: 1px solid #eee;

}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .25rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3eaef;
}
.header .right{
    display: flex;
    flex-direction: row-reverse;
}
.header img{
    height: 25px;
    margin-left: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 1px solid #e3eaef;
}
.col{
    align-items: center;
}
.days{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
}
.day-item{
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.day-item:hover{
    border: 1px solid #eee;
    box-shadow: 0 0 5px 0 rgba(154,161,171,.15);
}
#temperature{
    font-size: 60px;
    line-height: 60px;
}
#city{
    line-height: 40px;
    font-size: 28px;
}
#nowDate{
    line-height: 30px;
}
#location{
    cursor: pointer;
}
.icon{
    margin: 5px 0;
}
.icon img{
    height: 41px;
}
.min-temp{
    color: #bababa;
}
.rain,
.presure,
.humidity,
.wind{
    display: flex;
    align-items: center;
    height: 35px;
}
.rain img,
.presure img,
.humidity img,
.wind img,
.geoposition img{
    height: 25px;
    margin-right: 10px;
}
.form{
    position: relative;
    width: 150px;
    box-sizing: border-box;
}
.form input{
    width: 150px;
    padding: .25rem .7rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    box-sizing: border-box;
}
#dropdown-list{
    position: absolute;
    width: 100%;
    padding: 10px 5px;
    list-style: 18px;
    text-align: left;
    background-color: white;
    list-style: none;
}